html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue: rgba(33, 150, 243, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-light-background: rgba(245, 244, 250, 1);
  --grey-light-op60: rgba(255, 255, 255, 0.6);
  --black-background: rgba(47, 48, 58, 1);
  --grey-background: #f5f4fa;
  --blue-logo: #2196f3;
  --black-text: #000000;
  --border: rgba(236, 236, 236, 1);
  --border-portfolio: rgba(238, 238, 238, 1);
  --social-background: rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid transparent;
}

.list {
  list-style: none;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--border);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-logo);
}

.logo-header,
.link {
  color: var(--black-text);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .item-nav {
  margin-right: 50px;
}

.auth-nav .item-nav + .item-nav {
  margin-left: 50px;
}

.site-nav .link,
.auth-nav .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link-nav:hover,
.auth-nav .link-nav:focus,
.logo:hover {
  color: var(--blue);
}

.project:hover,
.project:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--white-text);
  background-color: var(--blue);
}

.link,
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-nav {
  color: var(--grey-text);
}

.header-icon {
  fill: currentColor;
}

.header-icon:hover,
.header-icon:focus {
  fill: currentColor;
}

.site-nav .link.current,
.auth-nav .link-nav.current {
  color: var(--blue);
}

button {
  font-family: inherit;
}

.logo-footer {
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  display: block;
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.kontakts-down {
  color: var(--grey-light-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-mail {
  margin-top: 9px;
}

.down {
  background-color: var(--black-background);
}

.down .container {
  max-width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.atribut {
  padding: 60px 0;
}

.social {
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}

.footer {
  flex-direction: column;
}

.provide {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list-team {
  display: flex;
  justify-content: center;
}

.social-team {
  display: flex;
  justify-content: center;
}

.social-footer {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--social-background);
  border-radius: 50%;
  /* text-align: -webkit-match-parent; */
}

.social-footer:hover,
.social-footer:focus {
  fill: var(--white-text);
  background-color: var(--blue);
  border-radius: 50%;
}

.social-footer + .social-footer {
  margin-left: 10px;
}

.footer-icon {
  fill: var(--white-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
